.resource {
  background-color: $secondary;
  border: 1px solid $primary-low;
  border-radius: 4px;
  padding: 10px 20px 20px 20px;
  margin-bottom: 30px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 0;
  }

  h2 a {
    font-weight: 400;
  }

  .description {
    margin: 20px 0;

    .p-text {
      display: inline-block;
      vertical-align: middle;
    }

    .right {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-left: 30px;

      .people-image {
        position: absolute;
        top: -15px;
        height: 60px;
      }
    }

    .tags {
      display: flex;
      margin-top: 5px;

      > div {
        margin-right: 15px;
      }

      i {
        margin-right: 2px;
      }
    }
  }

  .wrapper {
    margin-top: 15px;
    display: flex;
    width: 100%;
  }

  .container {
    display: flex;
    flex-flow: column;
  }

  .content {
    flex: 1;
    margin-right: 20px;
  }

  .services {
    width: 300px;
  }

  .discussions {
    flex: 1;
    margin-right: 20px;

    .list.guest {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary-very-low;

      span {
        background-color: $secondary;
        padding: 5px;
      }
    }
  }

  .events {
    width: 300px;
  }
}

.add-resource {
  .control-group {
    margin-bottom: 15px;

    input {
      margin-bottom: 0;
    }

    label {
      display: inline-block;
    }

    label + span {
      color: $danger;
      margin-left: 3px;
    }
  }
}

.resource-link {
  margin-left: 7px;
  height: 18px;

  i {
    color: $primary;
  }
}

.resource-topic-list {
  border: 1px solid $primary-low;
  border-radius: 4px;
  height: 200px;
  width: 100%;

  div.resource-topic-list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 7px 13px;
    border-bottom: 1px solid $primary-low;

    + div.resource-topic-list-item:last-of-type {
      border-top: 1px solid $primary-low;
      border-bottom: none;
    }

    .vote {
      padding: 0 15px;
      font-size: 1.1em;
    }

    .resource-title-wrapper {
      flex: 1;

      .title {
        font-size: 1.3em;
      }
    }
  }
}
